<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Easyrocket - Dashboard</title>
    <link rel="stylesheet" href="./../../assets/css/dashboard.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;0,900;1,100&display=swap" rel="stylesheet">
</head>
<body onload="dashboard()">
    <script src="./../../assets/javascript/script.js"></script>
    <img src="./../../assets/images/menu-btn.png" alt="menubtn" id="menu">
    <img src="./../../assets/images/dash-users-icon.png" alt="usersbtn" id="users">
    <img src="./../../assets/images/dash-prod-icon (1).png" alt="shopbtn" id="shop">
    <img src="./../../assets/images/dash-insights-icon.png" alt="insightsbtn" id="insights">
    <img src="./../../assets/images/logo white bg.png" alt="logo" id="logo">
    <h3 id="dashboard">Easyrocket<br>Dashboard</h3>
    <div id="toprect"></div>
    <div id="profile"></div>
    <div id="leftrect"></div>
    <pre>Welcome to the dashboard.</pre>
    
</body>
</html>