@import url("https://fonts.googleapis.com/css?family=DM+Sans:400,500,700&display=swap");


body {
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
}
html, body {
    font-family: 'Roboto', sans-serif;
}


#main {
    z-index: 0;
    position: absolute;
    top: 0%;
    left: 0%;
    width: 100.4%;
    min-width: 1400px;
    pointer-events: none;

}

.form-container {
    width: 25rem;
    height: 25rem;
    background-color: transparent;
    position: absolute;
    left: 12%;
    top: 25%;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 0 20% 3% 15% 10% auto 0;
    grid-template-areas: 
    "l   .    r"
    "l logo r"
    "l .    r"
    "l parag r"
    "l m r"
    "l form r"
    "l . r";
}
.leftsidebar {
    grid-area: l ;
    background-color: none;
}
.rightsidebar {
    grid-area: r ;
    background-color: none;
}
.message {
    grid-area: m;
    color: rgb(255, 41, 41);
    position: relative;
    top: 50%;
    left: 3%;
    font-size: 15px;
    font-weight: lighter;
    font-family: 'DM Sans', sans-serif;
    opacity: 1;
}
.header-logo {
    position: relative;
    grid-area: logo;
    background: none;
}
.header-logo img {
    position: absolute;
    top:-200%;
    left: 1%;
    width: 100%;
    z-index: 0;
    pointer-events: none;
}
.header-parag {
    position: relative;
    grid-area: parag;
    background: none;
    font-family: 'DM Sans', sans-serif;
}

.header-parag a {
    text-decoration: none;
    color: #4F46E5;
}
.header-parag a:hover {
    text-decoration: none;
    color: #5e57f1;
}
.header-parag h4 {
    font-size: 26px;
    font-weight: 900;
    text-align: center;
    position: relative;
    top: -50%;
    font-family: 'DM Sans', sans-serif;
}
.header-parag h6 {
    font-size: 14px;
    text-align: center;
    position: relative;
    top: -100%;
    font-weight: 500;
}
.form-wrapper {
    grid-area: form;
    background-color: none;
    z-index: 2;
}
.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}
form {
    display: flex;
    flex-direction: column;
    align-items: center;

}
input {
    width: 380px;
    border: 1.3px solid;
    border-color: rgb(216, 216, 216);
    padding: 10px;
    outline: none !important;
    font-family: 'DM Sans', sans-serif;
    font-weight: lighter;
    text-align: left;
}
input:focus {
    border-width: 1.3px;
    border-color: #5e57f1;
}
#name {
    margin-top: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#pwd {
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
#submit {
    text-align: Center;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    width: 405px;
    color: white;
    border-radius: 10px;
    background-color: #5e57f1;
}
#submit:hover {
    background-color: #5c56db;
}

.icon {
    position: absolute;
    top: 107.5%;
    left: 100%;
    color: rgb(255, 255, 255);
    opacity: 20%;
    pointer-events: none;
}
#submit:hover + .icon {
    opacity: 80%;
}

.error {
    border-color: rgb(255, 41, 41);
}

.toindex {
    width: 50px;
    height: 50px;
    background-color: none ;
    position: absolute;
    right: 5%;
    top: 15%;
}