body > table{
    width:100%;
}

table.table1 {
    position: absolute;
    left: 8%;
    width: 40%;
    background-color: rgb(252, 252, 252);
}
table.table1 th {
    color: black;
    text-align: center;
    padding: 8px;
    
}
table.table1 tr {
    color: black; 
}
table.table1 td {
    color: black;
}

table.table2 {
    background-color: rgb(252, 252, 252);
    position: absolute;
    right: 8%;
    width: 40%; 
}
table.table2 tr {
    color: black;
}
table.table2 td {
    color: black;
}
table.table2 th {
    color: black;
    text-align: center;
    padding: 8px;
  
}
tr:nth-child(even),table.list thead>tr {
    background-color: #dddddd;
}

input[type=text], input[type=number] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    background-color: rgba(245, 236, 236, 0.842);
    color: rgb(0, 0, 0);
    border: 1px solid rgb(7, 7, 7);
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit]{
    width: 30%;
    background-color: rgba(219, 216, 216, 0.842);
    color: #000;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

form div.form-action-buttons{
    text-align: right;
}

a{
    cursor: pointer;
  
    color: #ff5757;
    margin-right: 4px;
}
.asma
{
    color: rgba(0, 0, 0);
}
label.validation-error{
    color: rgba(255, 49, 49, 0.842);
    margin-left: 5px;
}

.hide{
    display:none;
}
body {
    display: CENTER;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    
    font-family: 'Open Sans', sans-serif;
    color: rgb(255, 255, 255);
 }
 select {
    -webkit-appearance:none;
    -moz-appearance:none;
    -ms-appearance:none;
    appearance:none;
    outline:0;
    box-shadow:none;
    border:0!important;
    background: #5c6664;
    background-image: none;
    flex: 1;
    padding: 0 .5em;
    color:#fff;
    cursor:pointer;
    font-size: 1em;
    font-family: 'Open Sans', sans-serif;
 }
 select::-ms-expand {
    display: none;
 }
 .select {
    position: relative;
    display: flex;
    width: 20em;
    height: 3em;
    line-height: 3;
    background: #5c6664;
    overflow: hidden;
    border-radius: .25em;
 }
 .select::after {
    content: '\25BC';
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 1em;
    background: #43c4c4;
    cursor:pointer;
    pointer-events:none;
    transition:.25s all ease;
 }
 .select:hover::after {
    color: #8b8b8b;
 }
 
 header {
    width: 100%;
    height: 80px;
    background: #000000;
    position: absolute;
    top: 0;
    display: flex;
    padding: 0px 5%;
    align-items: center;
	justify-content: space-evenly;
}

header img {
    max-width: auto;
    height: 30%;
    padding-right: 10%;
}

li {
    display: inline;
    font-size: 14px;
    font-weight: bold;
    margin-right: 3em;
    letter-spacing: 0.2px;
    color: whitesmoke;
}


.list:hover {
    transition: 0.12s ease-in-out;
    text-decoration: underline;
    text-decoration-color: #ffffff;
    text-decoration-thickness: 2px;
}


a {
    text-decoration: none;
    color: rgb(141, 141, 141);
    font-family: 'DM Sans', sans-serif;
}
.buttons-container {
    display: flex;
    position: absolute;
    top: 38.5%;
    right: 7%;
    z-index: 10;
}
button {
    background: black;
    border: 1px solid #ffffff;
    padding: 10px 15px;
    color: white;
    font-family: 'DM Sans', sans-serif;
    font-weight: bold;
    margin-right: 10px;
    font-size: 12px;
    border-radius: 2px;
}
button:hover {
    background: white;
    color: black;
    border: 1px solid #000000;
    cursor: pointer;
}

.bg-image {
	width: 100vw;
	height: 50vh;
	background: red;
	display: block;
	background-image: url('../../images/Forum/3.jpg');
	background-size: cover;
	background-repeat: no-repeat;
	box-shadow: 3px 3px 30px 0px #000000;
}

.btn btn-danger 