#logo, #bg-image, #slogan, #circles, #scroll, #one, #two {
    pointer-events: none;
}

body {
    background: black; 
    overflow-x: hidden;
};

html, body {
    margin:0%;
    padding: 0%;
    min-height: 100%;
}


#logo
{
    position: absolute;
    width: 25%;
    top: -10%;
}
#menu-btn {
    position: absolute;
    width: 5%;
    right: 10%;
    top: 11%;
}
#menu-btn:hover {
    background-color: #ff5757;
}
#bg-image {
    z-index: 0;
position: absolute;
left: 28%;
width: 45%;
bottom: -30%;
filter: saturate(1.5);
filter: brightness(1); 
animation-name: animationbg;
animation-duration: 5s;
animation-iteration-count: infinite;
}
#canva {
    filter: opacity(0.6);
}
#exit {
    position: absolute;
    width: 3%;
    right: 11%;
    top: 13.5%;
    z-index: 10001;
}
#circles {
    position: absolute;
    width: 20%;
    bottom: -10%;
    left: -4%;
    filter: opacity(35%);
}
#slogan {
    position: absolute;
    width: 25%;
    bottom: -10%;
    left: 7%;
}

@keyframes animationbg {
    0% { filter: brightness(1);}
    50% { filter: brightness(2);}
    100% { filter: brightness(1);}
}

#scroll {
    z-index: 1;
    position: absolute;
    top: 80%;
    right: 10%;
}

#bar {
    z-index: 10002;
    position: absolute;
    top: 100%;
    left: -2%;
    width: 102.8%;

}

#one {
    z-index: 10001;
    position: absolute;
    top: 100%;
    left: 0%;
    width: 100.1%;

}
#two {
    z-index: 10001;
    position: absolute;
    top: 199.6%;
    left: 0%;
    width: 100.1%;

}
#three {
    z-index: 10001;
    position: absolute;
    top: 299.2%;
    left: -0.1%;
    width: 101%;
}


#pageone {
    position: absolute;
    top: 0%;
    left: 0%;
}

