body {
    overflow: hidden;
    background: #fcfcfc;
    font-family: 'Roboto', sans-serif;
};

html, body {
    margin:0%;
    padding: 0%;
    min-height: 100%;
}

#menu {
    width: 5%;
    z-index: 1;
    position: absolute;
    top: 1%;
    left:1%;
    filter: invert(0);
}
#menu:hover {
    filter: invert(1);
}

#users {
    width: 5%;
    z-index: 1;
    position: absolute;
    top: 25%;
    left:1%;
    filter: invert(0);
}
#shop {
    width: 5%;
    z-index: 1;
    position: absolute;
    top: 40%;
    left:1%;
    filter: invert(0);
}
#insights {
    width: 5%;
    z-index: 1;
    position: absolute;
    top: 55%;
    left:1%;
    filter: invert(0);
}

#users:hover {
    filter: invert(1);
}
#shop:hover {
    filter: invert(1);
}
#insights:hover {
    filter: invert(1);
}
h3 {
    z-index: 3;
    color: #000000;
    position: absolute;
    top: 0.8%;
    left: 10%;
    font-size: 23px;
    font-variant: all-small-caps;
    line-height: 0.6;
    animation-name: colorful;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}
pre {
        z-index: 3;
        color: #000000;
        position: absolute;
        top:17%;
        left: 10.05%;
        font-size: 24px;
        font-variant: normal;
        font-weight: 500;
        letter-spacing: 4px;
        font-family: 'Roboto', sans-serif;
}
h3:hover {
    color: #ff5757;
}

#logo
{
    position: absolute;
    z-index: 3;
    width: 25%;
    top: -19.8%;
    left: 41%;
}

#profile {
    width: 60px;
    height: 60px;
    background: black;
    border-radius: 50%;
    position: absolute;
    right: 3%;
    top: 2%;
}

@keyframes colorful {
    0% {color: rgb(0, 0, 0);}
    50% {color: #ff5757;}
    100% {color: rgb(0, 0, 0);}
}

